<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Association of Professionals Treating Eating Disorders</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  </head>
  <body class="background-light twlsky-red twlsky-mixedcolours isolated-sections loader-bar">
    <div class="outer-container clearfix">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
