<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Evolutionary Tree of Mind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body >
  <div class="panel panel-default">
    <div class="outer-container clearfix">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <div class='panel-footer'>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
